<p>読み込んだファイル</p>

<mat-card>
    <mat-card-title>{{place.name}}</mat-card-title>
    <mat-card-subtitle>{{place.rate}}</mat-card-subtitle>
    <mat-card-content>{{place.description}}</mat-card-content>
</mat-card>
<p class="pre-wrap">
    {{text}}
</p>